@import url(https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap);

html::-webkit-scrollbar {
    display: none;
}

.carousel-caption1 {
    position: absolute;
    bottom: 70px;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
}

#landingpage {
    margin-top: 5px
}

.car-con-p {
    font-size: 20px;
    color: #fff;
    opacity: 0.6;
    font-family: Roboto;
}

.car-con-slogan {
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
}

.form-control1 {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.form-control1:focus {
    color: #495057;
    background-color: #fff;
    border-color: none;
    border: 1px solid #ced4da;
    border-right: none;
    outline: 0;
}

.undl {
    text-decoration: none;

}

.undl:hover {

    text-decoration: none;
    cursor: pointer;
}


.footer-undl {
    text-decoration: none;
    color: antiquewhite;
}

.footer-undl:hover {
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;
}