
{% extends "base.html" %}
{% block title %}Admin-Ecosweep{% endblock %}
{% block head %}
    <style>
        body{
            background-color: rgb(235, 230, 230);
            padding: 30px;
            width: 100%;
        }
    </style>
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2>Complaints List</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Description</th>
                <th>Image</th>
                <th>User ID</th>
            </tr>
        </thead>
        <tbody>
            <!-- which use to create multiple of tables as per the complaints register -->
            {% for complaint in complaints %}
                <tr>
                    <td>{{ complaint.id }}</td>
                    <td>{{ complaint.location }}</td>
                    <td>{{ complaint.description }}</td>
                    <td>
                        {% if complaint.image_data %}

                            <!-- this line converts binary data into the base64 and display the image -->
                            <img src="data:image/png;base64,{{ complaint.image_data }}" alt="Complaint Image" width="200">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </td>
                    <td>{{ complaint.user_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/" class="btn btn-secondary mt-3">Back</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}