<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c81e574e1d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <title>{% block title %}charan{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>

<body>

    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-light fixed-top">
            <a class="nav-link text-dark" class="navbar-brand text-success" style="font-weight:bold;" href="#"
                id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="https://res.cloudinary.com/dljndgwcl/image/upload/v1727628217/IMG-20240924-WA0001_1_-removebg-preview_iiygxz.png"
                    height="30px" width="100px" alt="...">

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                {% if current_user.is_authenticated %}
                <a class="dropdown-item text-white bg-dark" id="account" href="/profile/{{current_user.id}}">Profile</a>
                <a class="dropdown-item text-white bg-dark" id="logout" href="/logout">Logout</a>
                <a class="dropdown-item text-white bg-dark" id="admin-panel" href="/admin_panel">Admin</a>
                {% else %}
                <a class="dropdown-item text-white bg-dark" id="login" href="/login">Login</a>
                {% endif %}

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-3" style="font-weight: 500;">
                    <a class="nav-link active text-primary" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link text-dark" href="#">About</a>
                    <a class="nav-link text-dark" href="#">Feedback</a>
                    <a class="nav-link text-dark" href="#">FAQ</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-white bg-dark" href="#">Contact Us</a>
                            <a class="dropdown-item text-white bg-dark" href="#">Help</a>

                        </div>
                    </li>
                </div>
                <div class="ml-auto">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control1 pl-4 "
                            style="border-radius:50px;border-top-right-radius: 0%;border-bottom-right-radius: 0%; border-right:none;width:150px;"
                            type="" placeholder="Search" aria-label="Search">
                        <button class="form-control1 pr-4"
                            style="border-radius:50px;border-top-left-radius: 0%;border-bottom-left-radius: 0%;margin-right:30px; border-left: none;"
                            type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg></button>
                    </form>
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}
        <div id="landingpage" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dfomcgwro/image/upload/v1726412046/Ecosweep/eco-carousel-1.jpg"
                        class="d-block w-100" style="height:600px;background-size:cover" alt="...">

                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dfomcgwro/image/upload/v1726643552/ecosweep-caro-1.jpg"
                        class="d-block w-100" style="height:600px;background-size:cover" alt="...">

                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dfomcgwro/image/upload/v1726643552/ecosweep-caro-2.jpg"
                        class="d-block w-100" style="height:600px;background-size:cover" alt="...">

                </div>
                <div class="carousel-caption1 d-none d-md-block d-flex flex">
                    <p class="car-con-p" style="color: #fff;">A remarkable solution for slip clean</p>
                    <h1 class="car-con-slogan">URBAN CLEAN AUTHORITY</h1>
                    <button class="btn btn-primary">Explore <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                        </svg></button>
                </div>
            </div>
        </div>
        <div id="ideapage" class="pl-5 pt-3 pb-4 shadow text-center" style="background-color: lightblue;">
            <p class="text-primary">Indian Government</p>
            <h2 class="mb-5" style="font-family: Bree serif;">Explore Resources</h2>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mb-2">
                        <div class="shadow-lg bg-white">
                            <img class="w-100" height="230px"
                                src="https://res.cloudinary.com/dfomcgwro/image/upload/v1726301694/Ecosweep/eco-img-1.jpg" />
                            <!--<a class="undl d-sm-none d-lg-block" href="raise complaint pc.html"><h3 class="pt-3 pb-5 " style="font-family: Roboto;">Raise complaint</h3></a>-->
                            <a class="undl" href="/raisecomplaint">
                                <h3 class="pt-3 pb-5" style="font-family: Roboto;">Raise complaint</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-2">
                        <div class="shadow-lg bg-white">
                            <img class="w-100" height="230px"
                                src="https://res.cloudinary.com/dfomcgwro/image/upload/v1726301694/Ecosweep/eco-img-2.jpg" />
                            <h3 class="pt-3 pb-5 text-primary" style="font-family: Roboto;">Services</h3>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-2">
                        <div class="shadow-lg bg-white">
                            <img class="w-100" height="230px"
                                src="https://res.cloudinary.com/dfomcgwro/image/upload/v1726301694/Ecosweep/eco-img-3.jpg" />
                            <h3 class="pt-3 pb-3 text-primary" style="font-family: Roboto;">Track your issue<br />
                                status</h3>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-2">
                        <div class="shadow-lg bg-white">
                            <img class="w-100" height="230px"
                                src="https://res.cloudinary.com/dfomcgwro/image/upload/v1726301694/Ecosweep/eco-img-4.jpg" />
                            <h3 class="pt-3 pb-5 text-primary" style="font-family: Roboto;">Help centre</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bd-example" role="tabpanel">
            <div class="row" style="background-color: lightblue;">
                <div class="col-12 text-center mt-3 mb-3">
                    <p class="text-primary">Explore the nation</p>
                    <h2 style="font-family: Bree serif;">About India</h2>
                </div>
                <div class="col-2 mt-5 mb-5 shadow-lg p-0 text-dark" style="margin-left: 250px; font-weight: 600;">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-overview-list"
                            data-toggle="tab" href="#list-overview" role="tab" aria-controls="list-overview"
                            aria-selected="true">Overview</a>
                        <a class="list-group-item list-group-item-action" id="list-demography-list" data-toggle="tab"
                            href="#list-demography" role="tab" aria-controls="list-demography"
                            aria-selected="false">Biodiversity</a>
                        <a class="list-group-item list-group-item-action" id="list-divisions-list" data-toggle="tab"
                            href="#list-divisions" role="tab" aria-controls="list-divisions"
                            aria-selected="false">Nation</a>
                        <a class="list-group-item list-group-item-action" id="list-districts-list" data-toggle="tab"
                            href="#list-districts" role="tab" aria-controls="list-districts"
                            aria-selected="false">State</a>
                        <a class="list-group-item list-group-item-action" id="list-tehsils-list" data-toggle="tab"
                            href="#list-tehsils" role="tab" aria-controls="list-tehsils" aria-selected="false">Municipal
                            Corporation</a>
                        <a class="list-group-item list-group-item-action" id="list-blocks-list" data-toggle="tab"
                            href="#list-blocks" role="tab" aria-controls="list-blocks" aria-selected="false">Municipal
                            council</a>
                        <a class="list-group-item list-group-item-action" id="list-villages-list" data-toggle="tab"
                            href="#list-villages" role="tab" aria-controls="list-villages" aria-selected="false">Nagar
                            Panchayat</a>
                    </div>
                </div>
                <div class="col-6 mt-5 ml-5">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-overview" role="tabpanel"
                            aria-labelledby="list-overview-list">
                            <div class="bg-white p-4 mr-5" style="border-radius: 30px">
                                <h3>Overview</h3>
                                <p>
                                    A municipality, or Urban Local Body (ULB) in India, is a self-governing institution
                                    that provides services to cities, towns, and transitional areas. Here's some
                                    information about municipalities: Types of municipalities
                                    There are three types of ULBs in India: municipal corporations, municipal councils,
                                    and nagar panchayats. The type of ULB is determined by the state government based on
                                    factors like population density, annual revenue, and non- agricultural employment.
                                    Services Municipalities provide services like water supply, waste disposal,
                                    healthcare, education, and housing.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-demography" role="tabpanel"
                            aria-labelledby="list-demography-list">
                            <div class="bg-white p-4 mr-5" style="border-radius: 30px">
                                <h3>Biodiversity</h3>
                                <p>
                                    The NBA is a Statutory Body and it performs facilitative, regulatory and advisory
                                    functions for the Government of India on issues of conservation, sustainable use of
                                    biological resources and fair and equitable sharing of benefits arising out of the
                                    use of biological resources.Under Section 41(1) of the Biological Diversity Act,
                                    2002, every local body in the State shall constitute a Biodiversity Management
                                    Committee within its area of jurisdiction for the purpose of promoting conservation,
                                    sustainable use and documentation of biological diversity including preservation of
                                    habitats,
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-divisions" role="tabpanel"
                            aria-labelledby="list-divisions-list">
                            <div class="bg-white p-4 mr-5" style="border-radius: 30px;">
                                <h3>Nation</h3>
                                <p>
                                    According to the WHO/UNICEF Joint Monitoring Programme (JMP), as reported by Our
                                    World in Data, the number of people practicing open defecation fell from 62% to 33%
                                    from 2004-2014. About 157 million (15.7 crore), or approximately 11% of India's
                                    population, still practiced open defecation in 2022.In November, the Indian National
                                    Statistical Office's released its survey on sanitation, with lower levels of
                                    household coverage than the official numbers. According to the survey, only 71 per
                                    cent of households had access to toilets at a time when the Swachh Bharat programme
                                    claimed it was 95 per cent.
                                </p>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-districts" role="tabpanel"
                            aria-labelledby="list-districts-list">
                            <div class="bg-white p-4 mr-5" style="border-radius: 30px;">
                                <h3>State</h3>
                                <p>The Municipal Councils in the State are now governed by
                                    seven different enactments in force in the different areas and in order to have a
                                    uniform law in the whole State, this Bill has been brought forward. The Bill governs
                                    both City Municipalities and Town Municipalities as the provisions are in most case
                                    common and it is convenient to have a single enactment for both kinds of
                                    Municipalities. The Bill embodies the principal features of the enactment in force
                                    at
                                    present. Provision has also been made in chapter IX of the Bill for undertaking and
                                    executing improvement schemes and levying betterment fees on lands whose value
                                    increases by execution of improvement schemes.
                                    (Published in the Karnataka Gazette (Extraordinary))
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-tehsils" role="tabpanel"
                            aria-labelledby="list-tehsils-list">
                            <div class="bg-white p-4 mr-5" style="border-radius: 30px;">
                                <h3>Muncipal corporation</h3>
                                <p>
                                    Each municipal area is divided into territorial constituencies known as wards. A
                                    municipal corporation is made up of a wards committee. Each ward has one seat in the
                                    wards committee. Members are elected to the wards committee on the basis of adult
                                    franchise for a term of five years.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-blocks" role="tabpanel" aria-labelledby="list-blocks-list">
                            <div class="bg-white p-4 mr-5" style="border-radius: 30px;">
                                <h3>Muncipal Council</h3>
                                <p>
                                    municipal council, also known as a nagar palika, is a self-governing urban local
                                    body (ULB) that administers smaller urban areas in India. It's a legislative and
                                    decision- making unit that interacts directly with the state government.The council
                                    is headed by a president or chairman, and a vice-president or vice-chairman. A
                                    standing committee is appointed by the state government to ensure the council's
                                    smooth functioningThe council has both mandatory and discretionary functions, such
                                    as removing obstructions from public streets, lighting public streets, and
                                    constructing public parks.
                                </p>


                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-villages" role="tabpanel"
                            aria-labelledby="list-villages-list">
                            <div class="bg-white p-4 mr-5" style="border-radius: 30px">
                                <h3>Nagar panchayat</h3>
                                <p>
                                    Notified Area Council (NAC) in India is a settlement in transition from rural to
                                    urban and therefore a form of an urban political unit comparable to a municipality.
                                    An urban centre with more than 12,000 and less than 40,000 inhabitants is classified
                                    as a nagar panchayat.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="videosection" class=" pl-5 pb-3 pt-3 shadow text-center" style="background-color: rgb(23, 60, 148);">
            <p class="text-primary">About web!</p>
            <h2 class="mt-3 mb-5 text-white" style="font-family: Bree serif;">How it is Works!!</h2>

            <div class="embed-responsive embed-responsive-21by9 m-auto shadow"
                style="height:400px; width: 750px;border-radius:20px;margin-bottom:30px">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3Xwgv2b4rJk"></iframe>
            </div>

        </div>
        <div id="dev-pag" class="pl-5 pt-5 pb-4 shadow" style="background-color: lightblue;">
            <p class="text-primary text-center">More Development Endeavours</p>
            <h2 class="text-center" style="font-family: Bree serif;">Indian Government Initiatives</h2>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mb-2">
                        <div class="shadow-lg bg-white pb-3">
                            <img class="w-100" height="200px"
                                src="https://res.cloudinary.com/dfomcgwro/image/upload/v1726412046/Ecosweep/eco-11.jpg" />
                            <h6 class="pt-3 pb-1 pl-3"
                                style="font-family: Roboto; color: rgb(24, 24, 114); font-weight: 600;">Make in India
                            </h6>
                            <p class="pl-3" style="color: rgb(101, 95, 95);">This initiative was introduced to encourage
                                multinational and national companies to manufacture their products.</p>
                            <a class="pl-3 text-primary">Read More <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                </svg></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-2">
                        <div class="shadow-lg bg-white pb-3">
                            <img class="w-100" height="200px"
                                src="https://res.cloudinary.com/dfomcgwro/image/upload/v1726412045/Ecosweep/eco-14.png" />
                            <h6 class="pt-3 pb-1 pl-3"
                                style="font-family: Roboto; color: rgb(24, 24, 114); font-weight: 600;">Digital India
                            </h6>
                            <p class="pl-3" style="color: rgb(101, 95, 95);">This porgram focuses on transformaing india
                                into a digitally empowered society and knowledge economy.</p>
                            <a class="pl-3 text-primary">Read More <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                </svg></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-2">
                        <div class="shadow-lg bg-white pb-3">
                            <img class="w-100" height="200px"
                                src="https://res.cloudinary.com/dfomcgwro/image/upload/v1726412045/Ecosweep/eco-12.jpg" />
                            <h6 class="pt-3 pb-1 pl-3"
                                style="font-family: Roboto; color: rgb(24, 24, 114); font-weight: 600;">Incredible India
                            </h6>
                            <p class="pl-3" style="color: rgb(101, 95, 95);">This is a marketing campaign to promote
                                tourism in India, It showcases the country's rich cultural heritage.</p>
                            <a class="pl-3 text-primary">Read More <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                </svg></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-2">
                        <div class="shadow-lg bg-white pb-3">
                            <img class="w-100" height="200px"
                                src="https://res.cloudinary.com/dfomcgwro/image/upload/v1726412045/Ecosweep/eco-13.png" />
                            <h6 class="pt-3 pb-1 pl-3"
                                style="font-family: Roboto; color: rgb(24, 24, 114); font-weight: 600;">Indian
                                Government</h6>
                            <p class="pl-3" style="color: rgb(101, 95, 95);">This platform aims to bridge the gap
                                between the government and citizens, encouraging active involvement.</p>
                            <a class="pl-3 text-primary">Read More <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                </svg></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="footer-section" class="" style="background-color: #02036d;">
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-3">
                        <img height="60px"
                            src="https://res.cloudinary.com/dfomcgwro/image/upload/v1726300531/Ecosweep/ecosweep-logo.png" />
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-3">
                        <p class="text-white" style="font-weight: 500;">Government of India</p>
                        <p style="color: antiquewhite;">The India government, led by its Chief Ministe, is committed to
                            fostering the holistic development of the state known for its breathataking landscapes and .
                            <a style="color: #fff; font-weight: 500; text-decoration: underline;">Read More</a>
                        </p>
                    </div>
                    <div class="col-6 col-md-6 col-lg-3 mt-3 ">
                        <ul style="color: antiquewhite;">
                            <li>Privacy Policy</li>
                            <li>Disclaimer</li>
                            <li>help</li>
                            <li>Terms & Conditions</li>
                            <li>Accessibility Statement</li>
                            <li>Copyright Policy</li>
                            <li>Contact US</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-6 col-lg-3 mt-3 ">
                        <ul style="color: antiquewhite;">
                            <li>Apex Bodies</li>
                            <li>Government Orders</li>
                            <li>Gazettes</li>
                            <li>Feedback</li>
                            <li>Downloads</li>
                            <li>State Profile</li>
                            <li>Meri Yojana Book</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-6 col-lg-3 mt-3 ">
                        <ul style="color: antiquewhite;">
                            <li><a class="footer-undl" href="https://swachhbharatmission.ddws.gov.in/">Swachh Bharat
                                    Mission Abhiyan</a></li>
                            <li><a class="footer-undl" href="https://wastewarriors.org/">Waste warriors</a></li>
                            <li><a class="footer-undl" href="https://www.cleanindiajournal.com/">Clean India Jeneral</a>
                            </li>
                            <li><a class="footer-undl" href="https://moef.gov.in/">Green India Mission</a></li>
                            <li>Waste to Wealth Mission</li>
                            <li>CPCB</li>
                            <li>IITR</li>
                        </ul>
                    </div>
                    <div class="m-auto ">
                        <button class="btn btn-primary mb-4"
                            style="border-radius: 50px;width: 200px;">Helpline<br /><span
                                style="color:#fff;font-weight: bold;">40213</span></button>
                    </div>

                </div>
            </div>
        </div>
        <div class="" style="background-color: #04054c; color: #fff;">
            <div class="d-flex flex-column justify-content-center">
                <div class="d-flex flex-row justify-content-center">
                    <p class="mt-1 ml-2 mb-2"><span><i class="mt-3 fa-regular fa-copyright"></i></span> 2024 created by
                        syndicate group of asc..</p>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>

</body>

</html>